html,
body {
    height: 100%;
    background: #ffffff;
    font-family: "Montserrat";
    font-weight: 300;
    color: #060606;
    margin: 0;
    padding: 0;
}

.main_wrapper {
    min-height: 100%;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    overflow: clip;
}

.main {
    flex: 1 1 auto;
}

[class*="__content"] {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0px 15px;
}

/* ######################################################################## */
/* header ################################################################# */
.header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 0;
    height: 84px;
    width: 100%;
    background: #007765;
}

.header__content {
    max-width: 1200px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

.image {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 4;
}

.nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav a {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;

    color: #FFFFFF;
    justify-content: right;
    text-align: right;
}

.menu__list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.menu__link {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    text-decoration: none;
    list-style-type: none;
}

.coin {
    margin: 0 10px;
}

.coin::before {
    content: '';
    width: 1px;
    height: 29px;
    background: #ffffff;
    margin: 0 15px;
    padding: 0 1px;
}

.coin::after {
    content: '';
    width: 1px;
    height: 29px;
    background: #ffffff;
    margin: 0 15px;
    padding: 0 1px;
}

/* burger ##################################### */

.header__burger-btn {
    width: 48px;
    height: 48px;
    border: none;
    background: #007765;
    position: relative;
    display: none;
    z-index: 6;
}

.header__burger-btn span {
    position: absolute;
    width: 40px;
    height: 4px;
    background: #022203;
    left: 2px;
    transition: transform .5s, opacity .5, background-color .5s;
}

.header__burger-btn span:nth-child(1) {
    transform: translateY(-15px);
}

.header__burger-btn span:nth-child(3) {
    transform: translateY(15px);
}


.header.open .header__burger-btn span {
    background-color: #ffffff;
}

.header.open .header__burger-btn {
}

.header.open .header__burger-btn span:nth-child(1) {
    transform: translateY(0) rotate(45deg);
}

.header.open .header__burger-btn span:nth-child(2) {
    opacity: 0;
}

.header.open .header__burger-btn span:nth-child(3) {
    transform: translateY(0) rotate(-45deg);
}

@media (max-width: 992px) {

    .header__burger-btn {
        display: block;
        position: absolute;
        right: 20px;
    }

    .nav {
        position: absolute;
        display: flex;
        justify-content: center;
        left: -350px;
        top: 0;
        width: 300px;
        background: #02221d;
        padding: 80px 20px 20px 20px;
        transition: transform .8s;
    }

    .menu__list {
        display: block;
    }

    .menu__link {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        margin: 15px 0;
    }

    .header.open .nav {
        transform: translateX(100%);
    }
}

/* ###################################################################### */
/* title ################################################################ */
.title {
    background-image: url('./picture/image1.png');
    width: 100%;
}

.title .here {
    text-align: center;
    padding: 160px 0;
    font-size: larger;
    font-weight: 900;
    color: #FFFFFF;
}

.slyleh {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 64px;
    text-align: center;
    margin-bottom: 0px;
    color: #007765;
}

p {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    color: #000000;
}

/* ###################################################################### */
/* mean and citate ###################################################### */
.mean__content {
    display: flex;
    justify-content: center;
    text-align: justify;
    flex-direction: column;
}

.citate {
    background-image: url('./picture/image2.png');
    width: 100%;
}

.pcitate {
    padding: 128px 0;
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 500;
    font-size: 48px;
    line-height: 56px;
    text-align: center;
    color: #FFFFFF;
}

.textlogo {
    display: inline-flex;
}

.logomeantwo {
    padding: 24px;
    width: 115px;
    height: 115px;
}

/* ###################################################################### */
/* team ################################################################# */
.team {
    justify-content: center;
    text-align: center;
}

.elem {
    display: inline-block;
    margin: 30px;
    width: 283px;
}

.teamphoto {
    width: 168px;
    height: 168px;
}

.flname {
    font-weight: 700;
    font-size: 24px;
    color: #007765;
}

.worker {
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #000000;
}

/* ###################################################################### */
/* footer ############################################################### */
.footer {
    background: #333333;
    height: 176px;
    width: 100%;
}

.footer__content {
    max-width: 1200px;
    height: 100%;
}

.par-footer {
    color: #FFFFFF;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    padding: 50px 0 0 60px;
    text-align: center;
}

/* ###################################################################### */
/* media ############################################################### */
@media (max-width: 992px) {
    .slyleh {
        font-size: 44px;
    }
    p {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 22px;
        color: #000000;
    }
    .pcitate {
        font-size: 38px;
        line-height: 46px;
        padding: 60px 15px;
    }
}
=======
html,
body {
    height: 100%;
    background: #ffffff;
    font-family: "Montserrat";
    font-weight: 300;
    color: #060606;
    margin: 0;
    padding: 0;
}

.main_wrapper {
    min-height: 100%;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    overflow: clip;
}

.main {
    flex: 1 1 auto;
}

[class*="__content"] {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0px 15px;
}

/* ######################################################################## */
/* header ################################################################# */
.header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 0;
    height: 84px;
    width: 100%;
    background: #007765;
}

.header__content {
    max-width: 1200px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

.image {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 4;
}

.nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav a {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;

    color: #FFFFFF;
    justify-content: right;
    text-align: right;
}

.menu__list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.menu__link {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    text-decoration: none;
    list-style-type: none;
}

.coin {
    margin: 0 10px;
}

.coin::before {
    content: '';
    width: 1px;
    height: 29px;
    background: #ffffff;
    margin: 0 15px;
    padding: 0 1px;
}

.coin::after {
    content: '';
    width: 1px;
    height: 29px;
    background: #ffffff;
    margin: 0 15px;
    padding: 0 1px;
}

/* burger ##################################### */

.header__burger-btn {
    width: 48px;
    height: 48px;
    border: none;
    background: #007765;
    position: relative;
    display: none;
    z-index: 6;
}

.header__burger-btn span {
    position: absolute;
    width: 40px;
    height: 4px;
    background: #022203;
    left: 2px;
    transition: transform .5s, opacity .5, background-color .5s;
}

.header__burger-btn span:nth-child(1) {
    transform: translateY(-15px);
}

.header__burger-btn span:nth-child(3) {
    transform: translateY(15px);
}


.header.open .header__burger-btn span {
    background-color: #ffffff;
}

.header.open .header__burger-btn {
}

.header.open .header__burger-btn span:nth-child(1) {
    transform: translateY(0) rotate(45deg);
}

.header.open .header__burger-btn span:nth-child(2) {
    opacity: 0;
}

.header.open .header__burger-btn span:nth-child(3) {
    transform: translateY(0) rotate(-45deg);
}

@media (max-width: 992px) {

    .header__burger-btn {
        display: block;
        position: absolute;
        right: 20px;
    }

    .nav {
        position: absolute;
        display: flex;
        justify-content: center;
        left: -350px;
        top: 0;
        width: 300px;
        background: #02221d;
        padding: 80px 20px 20px 20px;
        transition: transform .8s;
    }

    .menu__list {
        display: block;
    }

    .menu__link {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        margin: 15px 0;
    }

    .header.open .nav {
        transform: translateX(100%);
    }
}

/* ###################################################################### */
/* title ################################################################ */
.title {
    background-image: url(picture/image1.png);
}

.title .here {
    text-align: center;
    padding: 160px 0;
    font-size: larger;
    font-weight: 900;
    color: #FFFFFF;
}

.slyleh {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 64px;
    text-align: center;
    margin-bottom: 0px;
    color: #007765;
}

p {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    color: #000000;
}

/* ###################################################################### */
/* mean and citate ###################################################### */
.mean__content {
    display: flex;
    justify-content: center;
    text-align: justify;
    flex-direction: column;
}

.citate {
    background: url(picture/image2.png);
}

.pcitate {
    padding: 128px 0;
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 500;
    font-size: 48px;
    line-height: 56px;
    text-align: center;
    color: #FFFFFF;
}

.textlogo {
    display: inline-flex;
}

.logomeantwo {
    padding: 24px;
    width: 115px;
    height: 115px;
}

/* ###################################################################### */
/* team ################################################################# */
.team {
    justify-content: center;
    text-align: center;
}

.elem {
    display: inline-block;
    margin: 30px;
    width: 283px;
}

.teamphoto {
    width: 168px;
    height: 168px;
}

.flname {
    font-weight: 700;
    font-size: 24px;
    color: #007765;
}

.worker {
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #000000;
}

/* ###################################################################### */
/* footer ############################################################### */
.footer {
    background: #333333;
    height: 176px;
    width: 100%;
}

.footer__content {
    max-width: 1200px;
    height: 100%;
}

.par-footer {
    color: #FFFFFF;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    padding: 50px 0 0 60px;
    text-align: center;
}

/* ###################################################################### */
/* media ############################################################### */
@media (max-width: 992px) {
    .slyleh {
        font-size: 44px;
    }
    p {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 22px;
        color: #000000;
    }
    .pcitate {
        font-size: 38px;
        line-height: 46px;
        padding: 60px 15px;
    }
}
